<div class="grid_10 push_1">
  <div class="feature_icon">
    <%= image_tag ("upload_lamp.svg") %>
  </div>
  <p class="pg_title">edit</p>
  <div class="rule"></div>

  <%= form_for(@content) do |f| %>
    <% if @content.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

        <ul>
        <% @content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid_5">
      <div class="grid_5">
        <p class="form_title">Title</p>
        <%= f.text_field :title, :class => "form_field" %>
      </div>
      <div class="field">
        <p class="form_title">Tags (separated by commas)</p>
        <%= f.text_field :tag_list, :class => "form_field" %>
      </div>
    </div>
    <div class="grid_5" style="margin-left:20px">
      <p class="form_title">Description</p>
      <%= f.text_area :description, :class => "desc_field" %>
    </div>

    <div class="grid_10">
      <div class="grid_5">
        <p class="form_title">HTML</p>
        <%= f.text_area :html, :id => "htmloutput", :class => "code_field" %>
      </div>
      <div class="grid_5" style="margin-left:20px">
        <p class="form_title">CSS</p>
        <%= f.text_area :css, :id => "cssoutput", :class => "code_field" %>
      </div>
    </div>
    <div id="iframe-wrapper" class="grid_10">
      <iframe id="iframe" class="big_renderer"></iframe>
    </div>

    <div class="submit_btn grid_3 push_7 actions">
        <%= f.submit "save"%>
    </div>
  <% end %>
</div>
