<div class="grid_10 push_1">
  <div class="feature_icon">
    <%= image_tag ("upload_lamp.svg") %>
  </div>
  <p class="pg_title">edit</p>
  <div class="rule"></div>

  <%= form_for(@content) do |f| %>
    <% if @content.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

        <ul>
        <% @content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid_5">
      <div class="grid_5">
        <p class="form_title">Title</p>
        <%= f.text_field :title, :class => "form_field" %>
      </div>
      <div class="field">
        <p class="form_title">Tags (separated by commas)</p>
        <%= f.text_field :tag_list, :class => "form_field" %>
      </div>
    </div>
    <div class="grid_5" style="margin-left:20px">
      <p class="form_title">Description</p>
      <%= f.text_area :description, :class => "desc_field" %>
    </div>

    <div class="grid_10">
      <div class="grid_5">
        <p class="form_title">HTML</p>
        <div id="editor" class="code_field" cols="40" id="htmloutput" name="content[html]" rows="20"></div>
      </div>
      <div class="grid_5" style="margin-left:20px">
        <p class="form_title">CSS</p>
        <div id="editor2" class="code_field" cols="40" id="cssoutput" name="content[css]" rows="20"></div>
      </div>
    </div>
    <div id="iframe-wrapper" class="grid_10">
      <iframe id="iframe" class="big_renderer"></iframe>
    </div>

    <div class="submit_btn grid_3 push_7 actions">
        <%= f.submit "save"%>
    </div>
  <% end %>
</div>

<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");
    editor.getSession().setTabSize(2);
    html = '<%= @html.split("\r\n").join("' + '\\n' + '").html_safe %>';
    editor.setValue(html);
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/html");

    var editor2 = ace.edit("editor2");
    editor2.getSession().setTabSize(2);
    css = '<%= @css.split("\r\n").join("' + '\\n' + '").html_safe %>';
    editor2.setValue(css);
    editor2.setTheme("ace/theme/github");
    editor2.getSession().setMode("ace/mode/css");
</script>
