
<h3> This should be the home page </h3>

<h4> Users should be able to browse and/or log in from this page </h4>


<%= render "layouts/navigation" %>


<h1>Listing contents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Html</th>
    <th>Css</th>
    <th>Deleted</th>
    <th>Visible</th>
    <th>Created on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= content.title %></td>
    <td><%= content.description %></td>
    <td><%= content.html %></td>
    <td><%= content.css %></td>
    <td><%= content.deleted %></td>
    <td><%= content.visible %></td>
    <td><%= content.created_on %></td>
    <td><%= link_to 'Show', content %></td>
    <td><%= link_to 'Edit', edit_content_path(content) %></td>
    <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_content_path %>
