<div class="container_12">

  <div class="grid_8 push_2">
    <div class="icon">
      <%= image_tag ("reset_arrow.png") %>
    </div>
    <p class="pg_title"> edit your info </p>
    <div class="rule"></div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="grid_3">
        <%#= f.text_field :profile_img_url, :class => "profile_img", :placeholder => "images goes here" %>
        <%= link_to image_tag(avatar_url(@user), :class => "profile_img"), "http://gravatar.com/emails/", :title => "Click to set your avatar at Gravatar.com", :target => '_blank' %>
    </div>
    <div class="grid_5" style="margin-left:20px">
      <div>
        <%= f.label :username %><br />
        <%= f.text_field :username, :autofocus => true, :class => "form_field" %>
      </div>
      <div>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, :class => "form_field" %>
      </div>
      <div>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, :class => "form_field" %>
      </div>
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => "form_field", :readonly => true %>
      </div>
      <div>
        <%= f.label :twitter_link %><br />
        <%= f.text_field :twitter_link, :class => "form_field" %>
      </div>
      <div>
        <%= f.label :github_link %><br />
        <%= f.text_field :github_link, :class => "form_field" %>
      </div>
      <div>
        <%= f.label :dribbble_link %><br />
        <%= f.text_field :dribbble_link, :class => "form_field" %>
      </div>
      <div>
        <%= f.label :bio %><br />
        <%= f.text_area :bio, :cols => "30", :rows => "10", :class => "bio_field" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div>
        <%= f.label :password %> <i>(Leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off", :class => "form_field" %>
      </div>
      <div>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :class => "form_field" %>
      </div>
      <div>
        <%= f.label :current_password %> <i>(To confirm your changes)</i><br />
        <%= f.password_field :current_password, :class => "form_field" %>
      </div>

      <div class="submit_btn">
        <%= f.submit "update" %>
      </div>
      <div class="rule"></div>
      <div id="delete_btn">
        <%= button_to "delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
      </div>
    </div>
  <% end %>

  <%# link_to "Back", :back %>
</div>
