<h1>Listing favorites</h1>

<table>
  <tr>
    <th>User</th>
    <th>Content</th>
    <th>Deleted</th>
    <th>Shared on fb</th>
    <th>Shared on twitter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.user_id %></td>
    <td><%= favorite.content_id %></td>
    <td><%= favorite.deleted %></td>
    <td><%= favorite.shared_on_fb %></td>
    <td><%= favorite.shared_on_twitter %></td>
    <td><%= link_to 'Show', favorite %></td>
    <td><%= link_to 'Edit', edit_favorite_path(favorite) %></td>
    <td><%= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favorite', new_favorite_path %>
