<div class="grid_12">
  <div class="icon">
    <%= image_tag ("reset_arrow.png") %>
  </div>
  <p class="pg_title"> hello </p>
  <div class="rule"></div>

  <div class="grid_3">
    <div class="profile_img">
      <%= image_tag avatar_url(@user) %>
    </div>
    <p>
      <p class="form_title">Username:</p>
      <%= @user.username %>
    </p>
    <p>
      <p class="form_title">Bio:</p>
      <%= @user.bio %>
    </p>
    <p>
      <p class="form_title">Twitter:</p>
      <%= @user.twitter_link %>
    </p>
    <p>
      <p class="form_title">Github:</p>
      <%= @user.github_link %>
    </p>
    <p>
      <p class="form_title">Dribble:</p>
      <%= @user.dribbble_link %>
    </p>
  </div>
  <div class="grid_8" style="margin-left:20px">
    <p class="form_title">Contributions</p>

      <% @contents.each do |content| %>
         <div class="card grid_4">
        <p><%= link_to content.title, content %></p>
        <p>Description: <%= content.description %></p>
        <p>HTML: <%= content.html %></p>
        <p>CSS: <%= content.css %></p>
        <p>Views: <%= content.views %></p>
        <p>Favorites: <%= content.favorites %></p>
        <%#= link_to 'Show', content %>
        <%#= link_to 'Edit', edit_content_path(content) %>
        <%#= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
 
  </div>
</div>