<div class="grid_12">
  <div class="feature_icon">
    <%= image_tag ("pub_profile_bubble.svg") %>
    <div class="pg_title" style="margin-top:10px">hey there</div>
  </div>

  <div class="rule"></div>

  <div class="grid_4 profile_container">
    <div class="profile_img">
      <%= image_tag avatar_url(@user) %>
    </div>
    <h2>
      User { <span class="username"><%= @user.username %></span> }
    </h2>
    <p>
      <p class="form_title">Bio:</p>
      <%= @user.bio %>
    </p>
    <p>
      <p class="form_title">Twitter:</p>
      <%= @user.twitter_link %>
    </p>
    <p>
      <p class="form_title">Github:</p>
      <%= @user.github_link %>
    </p>
    <p>
      <p class="form_title">Dribble:</p>
      <%= @user.dribbble_link %>
    </p>
  </div>


  <p class="form_title grid_8 right">Contributions:</p>
  <% @contents.each do |content| %>
  <div class="grid_4 user_cards right">
    <div class="card">
      <div class="iframe_wrapper">
        <iframe src="<%= url_for :action => "html", :controller => "contents", :id => content.id %>">
        </iframe>
      </div>

      <div class="card_description hidden">
        <%= link_to content.title, content %>
        <p><%= content.description %></p>
        <p>Tags: <%= raw content.tag_list.map { |t| link_to t, tag_path(t)}.join(", ") %></p>
      </div>

      <span class="mini_icons">
        <%= image_tag('eye_icon.svg')%> <%= content.views %>
        <%= image_tag('heart_icon.svg')%> <%= content.favorites %>
      </span>
    </div>

    <div class="card_header">
      <a href="/users/<%= content.user.id %>"><%= content.user.username %></a>
    </div>
  </div>
  <% end %>

</div>


<!--
Note that how the tiles look in this page (the profile page) should match exactly
how it looks on the home page (to be done)
-->

