
<div class="feature_icon">
  <%= image_tag('about_mugshot.svg') %>
</div>
 <p class="pg_title"> about us </p>

<div class="rule"></div>

<div class="about_card left">
  <div class="bio">
    <h2>Livien Yin {</h2>
    <p>How bleak a world,<br /> without stylesheets.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('yin.png')%>
  </div>
</div>

<div class="about_card right">
  <div class="bio">
    <h2>Jeff Kao {</h2>
    <p>Yea, yea, yea. <br /> Whatever. It's fine.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('kao.png')%>
  </div>
</div>

<div class="about_card left">
  <div class="bio">
    <h2>Michelle Lowe {</h2>
    <p>Quietly hides in the back while making loud contributions.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('lowe.png')%>
  </div>
</div>

<div class="about_card right">
  <div class="bio">
    <h2>Eu-wen Ding {</h2>
    <p>Good artists borrow, great artists steal.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('ding.png')%>
  </div>
</div>

<div class="about_card left">
  <div class="bio">
    <h2>Woo Jin Park {</h2>
    <p>Developer in the front, designer in the back.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('park.png')%>
  </div>
</div>
