
<div class="feature_icon">
  <%= image_tag('reset_arrow.png') %>
  <h3 style="margin-top:20px">About Us</h3>
</div>

<div class="rule"></div>

<div class="about_card left">
  <div class="bio">
    <h2>Livien Yin {</h2>
    <p>Hi, there.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('wooj.jpeg')%>
  </div>
</div>

<div class="about_card right">
  <div class="bio">
    <h2>Jeff Kao {</h2>
    <p>Yo, I'm the git master and live editor creator.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('wooj.jpeg')%>
  </div>
</div>

<div class="about_card left">
  <div class="bio">
    <h2>Michelle Lowe {</h2>
    <p>Back, back, back it up! I engineered the back-end.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('wooj.jpeg')%>
  </div>
</div>

<div class="about_card right">
  <div class="bio">
    <h2>Eu-wen Ding {</h2>
    <p>Back, back, back it up! I engineered the back-end.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('wooj.jpeg')%>
  </div>
</div>

<div class="about_card left">
  <div class="bio">
    <h2>Woo Jin Park {</h2>
    <p>Hi, I am a dude.</p>
    <h2>}</h2>
  </div>
  <div class="bio_image">
    <%= image_tag('wooj.jpeg')%>
  </div>
</div>
