<div class="feature_icon">
  <%= image_tag "home_hot_dog.svg" %>
  what's hot
</div>
<% if params[:tag] %>
<h2>tags / <%= params[:tag] %></h2>
<% end %>
<div id="content_container">
  <% @contents.each do |content| %>
  <div class="grid_4 card_container">
    <div class="card">
      <div class="iframe_wrapper">
        <iframe src="<%= url_for :action => "html", :controller => "contents", :id => content.id %>">
        </iframe>
      </div>
        <div class="card_description hidden">
        <a class="card_link"href="<%= url_for :action => "update_views", :controller => "contents", :id => content.id %>">
          <span></span></a>
          <%= link_to content.title, content %>
          <p><%= content.description %></p>
          <p>Tags: <%= raw content.tag_list.map { |t| link_to t, tag_path(t)}.join(", ") %></p>

        </div>
    </div>

    <div class="card_header">
      <a href="/users/<%= content.user.id %>"><%= content.user.username %></a>
      <span>
        <%= image_tag('eye_icon.svg')%> <%= content.views %>

        <% if current_user %>
          <% if Favorite.exists?(:content_id => content.id, :user_id => current_user.id) %>
            <%= image_tag('heart_icon.svg')%> <%= Favorite.where(:content_id => content.id).size %>
          <% else %>
            <a href="<%= url_for :action => "update_likes", :controller => "contents", :id => content.id %>">
              <%= image_tag('heart_icon.svg')%> <%= Favorite.where(:content_id => content.id).size %>
            </a>
          <% end %>
        <% else %>
          <a href="<%= url_for :action => "update_likes", :controller => "contents", :id => content.id %>">
            <%= image_tag('heart_icon.svg')%> <%= Favorite.where(:content_id => content.id).size %>
          </a>
        <% end %>

      </span>
    </div>
  </div>
  <% end %>
</div>
