
    <div id="whats-hot">
        <%= image_tag "hot_dog.svg" %>
        what's hot
    </div>
<div>
<% @contents.each do |content| %>
    <div class="grid_4 card">
    <p><%= link_to content.title, content %></p>
    <p>Description: <%= content.description %></p>
    <p>HTML: <%= content.html %></p>
    <p>CSS: <%= content.css %></p>
    <p><a href="/users/<%= content.user.id %>"><%= content.user.username %></a></p>
    <p>Views: <%= content.views %></p>
    <p>Favorites: <%= content.favorites %></p>
    <%#= link_to 'Show', content %>
    <%#= link_to 'Edit', edit_content_path(content) %>
    <%#= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
</div>
