<div class="feature_icon">
  <%= image_tag "home_hot_dog.svg" %>
</div>
<p class="pg_title"> what's hot </p>

<% if params[:tag] %>
<h2>tags / <%= params[:tag] %></h2>
<% end %>
<div id="content_container">
  <% @contents.each do |content| %>
  <div class="grid_4 card_container">
    <div class="card">
      <div class="iframe_wrapper">
        <iframe src="<%= url_for :action => "html", :controller => "contents", :id => content.id %>">
        </iframe>
      </div>

      <div class="card_description hidden">
        <%= link_to content.title, content %>
        <p><%= content.description %></p>
        <p>Tags: <%= raw content.tag_list.map { |t| link_to t, tag_path(t)}.join(", ") %></p>
      </div>
    </div>

    <div class="card_header">
      <a href="/users/<%= content.user.id %>"><%= content.user.username %></a>
      <span>
        <%= image_tag('eye_icon.svg')%> <%= content.views %>
        <%= image_tag('heart_icon.svg')%> <%= content.favorites %>
      </span>
    </div>
  </div>
  <% end %>
</div>
