<%= form_for(@content_tag) do |f| %>
  <% if @content_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_tag.errors.count, "error") %> prohibited this content_tag from being saved:</h2>

      <ul>
      <% @content_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content_id %><br />
    <%= f.number_field :content_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
