<h1>Listing content_tags</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_tags.each do |content_tag| %>
  <tr>
    <td><%= content_tag.content_id %></td>
    <td><%= content_tag.name %></td>
    <td><%= link_to 'Show', content_tag %></td>
    <td><%= link_to 'Edit', edit_content_tag_path(content_tag) %></td>
    <td><%= link_to 'Destroy', content_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content tag', new_content_tag_path %>
